{% extends "erp/layout.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'warehouse/create_warehouse.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'warehouse/create_warehouse.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="create-card">
        <div class="create-warehouse-title">Crear nuevo almacén</div>

        <div class="create-header">
            
        </div>

        <form method="post" class="create-warehouse-form">
            {% csrf_token %}

            <div class="form-group">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
            </div>

            <div class="form-group">
                {{ form.codigo.label_tag }}
                {{ form.codigo }}
            </div>

            <div class="form-group">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
            </div>

            <div class="create-actions">
                <button type="submit" class="btn-create">
                    Crear almacén
                </button>
            </div>

        </form>

    </div>

</div>

{% endblock %}