{% extends "erp/layout.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'overview/overview.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4">

  <a href="{% url 'create_warehouse' %}" class="btn btn-success mt-3" style="display:block;max-width:400px;margin:0 auto 18px auto;font-size:1.1rem;font-weight:bold;padding:12px;border-radius:6px;">Crear almacén</a>

  <div class="almacenes-list mt-4">
    <h3>Almacenes creados</h3>
    <ul>
      {% for almacen in almacenes %}
      <li class="almacen-item">

        <div class="almacen-header">
          <span class="almacen-nombre">{{ almacen.nombre }}</span>
          <span class="almacen-codigo">ID: {{ almacen.id }}</span>
        </div>

        <div class="almacen-id">
          Código: {{ almacen.codigo }}
        </div>

        <div class="almacen-desc">
          {{ almacen.descripcion }}
        </div>

        <div class="almacen-actions">
          <button class="btn btn-outline-info btn-ver-almacen">Ver almacén</button>
          <button class="btn btn-outline-info btn-editar-almacen" onclick="window.location.href='{% url 'edit_warehouse' warehouse_id=almacen.id %}'">Editar</button>
        </div>

      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'overview/overview.js' %}"></script>
{% endblock %}
