{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>{% block title %}Autenticación | STRIX ERP {% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <link rel="stylesheet" href="{% static 'auth/auth.css' %}">
    
    <script src="{% static 'auth/auth.js' %}" defer></script>
</head>
<body>

    <div class="auth-container">
        <div class="auth-box">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>