{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta charset="UTF-8">

    <title>{% block title %}ERP{% endblock %}</title>

    <!-- Fonts & Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Core Styles -->
    <link rel="stylesheet" href="{% static 'erp/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'erp/sidebar_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'erp/content.css' %}">
    <link rel="stylesheet" href="{% static 'erp/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'erp/foorter.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

{% block layout %}{% endblock %}

<script src="{% static 'erp/sidebar_mobile.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
