{% extends "erp/base.html" %}

{% block layout %}
<div class="erp-wrapper">

    {% include "erp/partials/sidebar_desktop.html" %}

    <div class="erp-main">
        {% include "erp/partials/navbar.html" %}
        <main class="erp-content">
            {% block content %}
            <h1>Dashboard</h1>
            <p>Contenido principal del ERP</p>
            {% endblock %}
        </main>
        {% include "erp/partials/footer.html" %}
    </div>

    {% include "erp/partials/sidebar_mobile.html" %}

</div>
{% endblock %}
